# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# VS Code (если вдруг используешь)
.vscode/

# Компиляция и билды
*.class
*.jar
*.war
*.ear
*.log

# Gradle
.gradle/
build/

# Maven
target/

# Система
.DS_Store
Thumbs.db

